/*
 * Author: Manivannan Sadhasivam
 * Copyright (c) 2017 Linaro Inc.
 * All rights reserved.
 *
 * Sample device tree overlay for MS8607- Humidity sensor
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2708";
	
	fragment@0 {
		target = <&i2c1>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			cy8c95xx: cy8c95xx@20 {
                                compatible = "cypress,cy8c95xx";
                                reg = <0x20>;
                                gpio-controller;
                                #gpio-cells = <2>;
				//gpio-base = <100>
				/*gpio-ranges =	<&pinctrl1 0 20 10>,
						<&pinctrl2 10 0 0>,
						<&pinctrl1 15 0 10>,
						<&pinctrl2 25 0 0>;*/
			};
		};
	};

	fragment@1 {
		target = <&leds>;
		__overlay__ {
			status = "okay";
			compatible = "gpio-leds";
			led1-red {
				label = "red";
				linux,default-trigger = "none";
				gpios = <&cy8c95xx 1 0>;
			};
			led1-blue {
				label = "blue";
				linux,default-trigger = "none";
				gpios = <&cy8c95xx 2 0>;
			};
			led1-green {
				label = "green";
				linux,default-trigger = "none";
				gpios = <&cy8c95xx 3 0>;
			};

		};
	};
};
